.box {
  position: relative;
}
.box::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 32px;
  border: 2px solid transparent;
  background: linear-gradient(
    90deg,
    #920aa9 2%,
    #e019cc 20%,
    #ff81e3 48%,
    #fc75d6 52%,
    #df55f6 60%,
    #e822ec 71%,
    #e80f91 75%,
    #ee19d8 81.25%,
    #fe3873 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.box_with_bold_border {
  padding: 5px 10px;
}
.box_with_bold_border::before {
  border: 4px solid transparent;
}

.purple_gradient_text {
  background: linear-gradient(
    90deg,
    #920aa9 2%,
    #e019cc 20%,
    #ff81e3 48%,
    #fc75d6 52%,
    #df55f6 60%,
    #e822ec 71%,
    #e80f91 75%,
    #ee19d8 81.25%,
    #fe3873 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow_gradient_text {
  background: linear-gradient(
    90deg,
    #a8620a 2%,
    #e09519 20%,
    #ffe581 48%,
    #fcdc75 52%,
    #f6c755 60%,
    #eca522 71%,
    #e8980f 75%,
    #feb838 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 8px 22px 4px rgba(0, 0, 0, 0.25);
}

.linear_gradient_yellow {
  border-top: 5px solid;
  border-image: linear-gradient(
      90deg,
      #a8620a 2%,
      #e09519 20%,
      #ffe581 48%,
      #fcdc75 52%,
      #f6c755 60%,
      #eca522 71%,
      #e8980f 75%,
      #feb838 100%
    )
    1;
}

.linear_gradient_border_yellow {
  border: 3px solid;
  border-image: linear-gradient(
      90deg,
      #a8620a 2%,
      #e09519 20%,
      #ffe581 48%,
      #fcdc75 52%,
      #f6c755 60%,
      #eca522 71%,
      #e8980f 75%,
      #feb838 100%
    )
    1;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}
